.container-grid {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr 1fr 8fr;
    align-items: center;
    height: 100%;
    background-color: var(--clr-container);
    flex: 1;

    &>* {
        grid-column: 2;
    }

    .codeblock-title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--clr-white);
        font-weight: 500;
        flex: 1;
    }

    .codeblock-details {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        width: 100%;
        color: var(--clr-offwhite);
        font-weight: 500;
        gap: 10px;

        p:nth-child(2) {
            justify-self: center;
        }

        .button-container {
            justify-self: end;
            align-items: center;

            .solution-button {
                padding: 10px 20px;
                background-color: var(--clr-primary);
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                &:hover {

                    background-color: var(--clr-primary-hover);
                }
            }


        }
    }

    .loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    .loader-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

}







@media screen and (max-width: 768px) {
    .container-grid {
        grid-template-columns: 1fr;
        padding: 0 70px;

        &>* {
            grid-column: 1;
        }

        & section {
            max-width: 500px;
        }
    }

}