.container-grid {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr 1fr 8fr;
    align-items: center;
    height: 100%;
    background-color: #202529;
    flex: 1;

    &>* {
        grid-column: 2;
    }

    .codeblock-title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ddd;
        font-weight: 500;
        flex: 1;
    }

    .codeblock-details {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        width: 100%;
        color: #ddd;
        font-weight: 500;
        gap: 10px;

        p:nth-child(2) {
            justify-self: center;
        }
    }

    .codeblock {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        padding: 10px 20px;
        background-color: #282c34;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        position: relative;
        min-height: 500px;
        outline: none;

        &.editing {
            border: 1px solid rgb(82, 186, 82);
        }
    }
}



.button-container {
    justify-self: end;
    align-items: center;
}

.solution-button {
    padding: 10px 20px;
    background-color: #8caecd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.solution-button:hover {
    background-color: #5a7a9d;
}

.codeblock pre,
.codeblock .code-textarea {
    margin: 0;
    width: 100%;
    background-color: #282c34;
    border: none;
    color: #abb2bf;
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;

}

.codeblock .code-textarea:focus {
    outline: none;
}

.codeblock.focused {
    border: 1px solid rgb(82, 186, 82);
}

.codeblock code {
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    .container-grid {
        grid-template-columns: 1fr;
        padding: 0 70px;

        &>* {
            grid-column: 1;
        }

        & section {
            max-width: 500px;
        }
    }

}