.container h1 {
    display: flex;
    align-items: center;
    color: #ddd;
    font-weight: 500;
    flex: 1;
}

.lobby-list {
    flex-grow: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    list-style: none;
    padding: 0;
    gap: 22px;
}

.lobby-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 140px;
    padding: 35px 30px;
    border-radius: 5px;
    background-color: #8caecd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: white;
    transition: box-shadow 0.3s, transform 0.3s;
    font-weight: 500;
    font-size: 20px;
}

.lobby-link:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    transform: scale(1.02);
}

@media screen and (max-width: 768px) {
    .lobby-container {
        padding: 0 40px;
    }

}