* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #202529;
    flex: 1;
}