.header {
    padding: 6px 40px;
    background: var(--clr-gradient);
    color: var(--clr-white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-decoration: none;

    .header-title {
        font-size: 24px;
        font-weight: 400;
        margin: 10px;
        text-decoration: none;
        color: var(--clr-white);
        min-width: 200px;
    }

    .search-bar-container {
        grid-column: 2;
        justify-self: center;
        width: 100%;
    }
}




@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr;

        .header-title {
            text-align: center;
        }

        .search-bar-container {
            grid-column: 1;
            width: 100%;

            .search-container {
                width: 100%;
            }
        }
    }
}