.header {
    padding: 6px 30px;
    background: linear-gradient(90deg, #9fc2e2, #437484);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.header .header-title {
    font-size: 24px;
    font-weight: 400;
}