.lobby-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 140px;
    max-width: 800px;
    padding: 35px 30px;
    border-radius: 5px;
    background-color: var(--clr-primary);
    box-shadow: var(--shadow-codeblock);
    text-decoration: none;
    color: var(--clr-white);
    transition: box-shadow 0.3s, transform 0.3s;
    font-weight: 500;
    font-size: 20px;

    &:hover {
        cursor: pointer;
        box-shadow: var(--shadow-codeblock-hover);
        transform: scale(1.02);
    }
}