.search-container {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 300px;
}

.search-icon {
    font-size: 20px;
    color: #9fc2e2;
    margin-right: 10px;
}

.search-input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 16px;
    color: #9fc2e2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-input::placeholder {
    color: #9fc2e2;
}