.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.5s ease;
    transition: opacity 0.5s ease;

    &.fade-out {
        opacity: 0;
    }

    .modal-content {
        background: var(--clr-white);
        padding: 20px;
        border-radius: 8px;
        position: relative;
        width: auto;
        max-height: 80%;
        overflow-y: auto;
        animation: slideIn 0.5s ease;
        max-width: 90%;
        min-width: 35%;

        &.slide-out {
            animation: slideOut 0.5s ease;
        }

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}